<div class="sidebar">
  <div class="sidebar-brand">
    <mat-icon class="brand-icon">shield</mat-icon>
    <span class="brand-text">Insurance Admin</span>
  </div>

  <mat-divider></mat-divider>

  <mat-nav-list class="sidebar-nav">
    @for (item of navItems(); track item.route) {
      <a
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active-link"
        (click)="onLinkClick()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
</div>
