<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="menu-button" (click)="onMenuToggle()" aria-label="Toggle navigation menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="page-title">{{ pageTitle }}</span>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
