<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    [fixedInViewport]="isMobile"
  >
    <app-sidebar (linkClicked)="onSidebarLinkClicked()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <app-navbar
      [pageTitle]="pageTitle"
      (menuToggle)="onMenuToggle()"
      (logout)="onLogout()"
    ></app-navbar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
